<a href="https://colab.research.google.com/github/phamviet000/pythonangcaoplus/blob/main/lab1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print("hello")

Bài 1

In [ ]:
min(2, 3, 4)

2

In [ ]:
max(2, -3, 4, 7, -5)

7

In [ ]:
max(2, -3, min(4, 7), -5)

4

Bài 2

In [7]:
min(max(3, 4), abs(-5))

4

đầu tiên lệnh lấy giá trị tuyệt đối của 5, sau đó lấy số lớn nhất là 4 và lấy nhỏ nhất là 4

In [8]:
abs(min(4, 6, max(2, 8)))

4

lấy số lớn nhất 8 sau đó lấy nhỏ nhất 4 và lấy trị tuyệt đối của 4

In [9]:
round(max(5.572, 3.258), abs(-2))

5.57

lấy giá trị tuyệt đối 2 rồi lấy số lớn nhất 5.572 và lấy 2 giá trị thập phân

Bài 3

In [11]:
def triple(n) :
    return n * 3

In [12]:
triple(5)

15

Bài 4

In [13]:
def phetru(a,b):
  if a > b:
    abs = a - b 
    return abs
  else:
    return print("nhap sai roi")

In [17]:
phetru(5,2)

3

Bài 5

In [18]:
def change(km):
  return km / 1.6

In [19]:
change(10)

6.25

Bài 6

In [20]:
def avg(a, b, c):
  return (a + b + c)/3

In [21]:
avg(5, 6, 10)

7.0

Bài 7

In [26]:
def max3 (a, b, c, d):
  total = a + b + c + d
  min1 = min(a,b,c,d)
  total = total - min1
  total = total / 3
  return int(total)

In [27]:
max3 (1,2,3,4)

3

Bài 8
def weeks_elapsed(day1, day2):
""" (int, int) -> int
day1 and day2 are days in the same year. Return the number of full weeks
that have elapsed between the two days.
>>> weeks_elapsed(3, 20)
2
>>> weeks_elapsed(20, 3)
2
>>> weeks_elapsed(8, 5)
>>> weeks_elapsed(40, 61)
"""

In [28]:
def week_space(a,b):
  c = b- a
  d = c // 7
  return d

In [29]:
week_space(10,30)

2

Bài 9 , 10

In [33]:
def square(num):
  number = num ** 2
  return number

In [34]:
square(5)

25

Paramater : num
Argument : 3
Function name : square
Function call : square(3)

Chương 6

Bài 1