<a href="https://colab.research.google.com/github/phamviet000/pythonangcaoplus/blob/main/Lab4/Chuong11.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
vowels = {'a', 'e', 'a', 'a', 'i', 'o', 'u', 'u'}
print(vowels)

{'i', 'a', 'u', 'o', 'e'}

Cau 1

In [4]:
def find_dups(L):
  elem_set = set()
  dups_set = set()
  for entry in L:
    len_initial = len(elem_set)
    elem_set.add(entry)
    len_after = len(elem_set)
    if len_initial == len_after:
      dups_set.add(entry)
  return(dups_set)

In [5]:
find_dups([4,5,6,1,8,2,4,89,1,6,4,5,1,8,2])

{1, 2, 4, 5, 6, 8}

Cau 2

In [12]:
def mating_pairs(males, females):
 """ (set, set) -> set of tuple
 Return a set of tuples where each tuple contains a male from males 
and a
 female from females.
 >>> mating_pairs({'Anne', 'Beatrice', 'Cari'}, {'Ali', 'Bob', 
'Chen'})
 {('Cari', 'Chen'), ('Beatrice', 'Bob'), ('Anne', 'Ali')}
 """
 pairs = set()
 num_gerbils = len(males)
 for i in range(num_gerbils):
  male = males.pop()
  female = females.pop()
  pairs.add((male, female))
 return pairs

In [13]:
 mating_pairs({'Anne', 'Beatrice', 'Cari'}, {'Ali', 'Bob', 'Chen'})

{('Anne', 'Bob'), ('Beatrice', 'Ali'), ('Cari', 'Chen')}

Cau 3:

In [16]:
males = {'Anna','Jane','Sophia'}
females = {'Bob','David','Tom'}
def mating_couple(males,females):
  couple = set()
  for i in range(len(males)):
    male = males.pop()
    female = females.pop()
    couple.add((male, female))
  return couple

In [17]:
mating_couple(males,females)

{('Anna', 'Bob'), ('Jane', 'David'), ('Sophia', 'Tom')}

Cau 4: Cần thầy hướng dẫn sử dụng thêm file PDB

Câu 5:

In [31]:
def count_values(dic):
  tontai = []
  for key, value in dic.items():
    tontai.append(value)
  for key, value in dic.items():
    count = 0
    for i in tontai:
      if i == value:
        count = count + 1
    if count == 1:
      print(value)

In [54]:
dic = {'red': 1, 'green': 1, 'blue': 2}
count_values(dic)

2

Cau 6:

In [50]:
def least(dic):
  min = 999999999999999999999999999
  for key, value in dic.items():
    if value < min:
      min = value
      str1 = key
    else:
      continue
  for key, value in dic.items():
    if key == str1:
      print(key)

In [53]:
 nguyentu = {'neutron': 0.55, 'proton': 0.21, 'meson': 0.03, 'muon': 0.07, 'neutrino': 0.80}
 least(nguyentu)

meson

Cau 7:

In [55]:
def count(dic):
  count = []
  for key, value in dic.items():
    if value in count:
      print(value)
    else:
      count.append(value)

In [58]:
dic = {'red': 1, 'green': 1, 'blue': 2}
count(dic)

1

Cau 8:

In [73]:
def is_balanced(dic):
  balanced=0
  for key, value in dic.items():
    balanced += value
  if balanced == 1:
    return True
  else:
    return False

In [74]:
color = {'R':0.3,'G':0.3,'B':0.2}
is_balanced(color)

False

Cau 9:

In [78]:
def dict_intersect(dic1,dic2):
  dic3 = {}
  for key, value in dic1.items():
    for key1, value1 in dic2.items():
      if ((key == key1) and (value ==value1)):
        dic3[key] = value
  return dic3

In [79]:
dic1 = {'red': 1, 'green': 1, 'blue': 2}
dic2 = {'red': 1, 'green': 5, 'blue': 2, 'black': 4}
dict_intersect(dic1,dic2)

{'blue': 2, 'red': 1}

Cau 10

In [6]:
dic={'jgoodall' : {'surname' : 'Goodall',
'forename' : 'Jane',
'born' : 1934,
'died' : None,
'notes' : 'primate researcher',
'author' : ['In the Shadow of Man',
'The Chimpanzees of Gombe']},
'rfranklin' : {'surname' : 'Franklin',
'forename' : 'Rosalind',
'born' : 1920,
'died' : 1957,
'notes' : 'contributed to discovery of DNA'},
'rcarson' : {'surname' : 'Carson',
'forename' : 'Rachel',
'born' : 1907,
'died' : 1964,
'notes' : 'raised awareness of effects of DDT',
'author' : ['Silent Spring']}
}
def db_headings(str1):
  str1 = input('Nhập vào tên nhà khoa học muốn tìm: ')
  idonnow = set()
  for key,value in dic.items():
    if (key == str1):
      dic_temp = value
  for key1, value1 in dic_temp.items():
    idonnow.add(key1)
  return idonnow
db_headings(name)

Nhập vào tên nhà khoa học muốn tìm: jgoodall

{'author', 'born', 'died', 'forename', 'notes', 'surname'}

Cau 11:

In [7]:

def test(dic):
  set1 = db_headings(name)
  set2 = db_headings(name)
  if (set1 == set2):
    return True
  else:
    return False
test(dic)

Nhập vào tên nhà khoa học muốn tìm: jgoodall
Nhập vào tên nhà khoa học muốn tìm: rfranklin

False