<a href="https://colab.research.google.com/github/phamviet000/pythonangcaoplus/blob/main/Lab2/baitapchuong9.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Cau1:

In [ ]:
celegans_phenotypes = ['Emb','Him', 'Unc', 'Lon', 'Dpy', 'Sma']
for i in celegans_phenotypes:
  print(i)

Emb
Him
Unc
Lon
Dpy
Sma

Cau2:

In [ ]:
half_lives =   [87.74, 24110.0,6537.0, 14.4, 376000.0]
for value in half_lives:
 print(value, end=' ')

87.74 24110.0 6537.0 14.4 376000.0

Cau3:

In [ ]:
whales =  [5, 4, 7, 3, 2, 3, 2, 6, 4, 2, 1, 7, 1, 3]
more_whales = []
for count in whales:
 more_whales.append(count + 1)
print(more_whales)

[6, 5, 8, 4, 3, 4, 3, 7, 5, 3, 2, 8, 2, 4]

Cau4 :

In [ ]:
alkaline_earth_metals=[['beryllium',[4,9.012]],['magnesium',[12,24.305]],['calcium',[20,40.078]],['strontium',[38,87.62]],['barium',[56,137.327]],['radium',[88,226]]]
for i in alkaline_earth_metals:
  for j in i:
    print(j, end="  ")
  print('\n')

beryllium  [4, 9.012]

magnesium  [12, 24.305]

calcium  [20, 40.078]

strontium  [38, 87.62]

barium  [56, 137.327]

radium  [88, 226]

In [ ]:
alkaline_earth_metals=[['beryllium',[4,9.012]],['magnesium',[12,24.305]],['calcium',[20,40.078]],['strontium',[38,87.62]],['barium',[56,137.327]],['radium',[88,226]]]
number_and_weigh = []
for i in alkaline_earth_metals:
  for j in range(len(i)):
    if (j == 0):
      number_and_weigh.append(i[0])
    if (j==1):
      number_and_weigh.append(i[j][0])
      number_and_weigh.append(i[j][1])
print(number_and_weigh)

['beryllium', 4, 9.012, 'magnesium', 12, 24.305, 'calcium', 20, 40.078, 'strontium', 38, 87.62, 'barium', 56, 137.327, 'radium', 88, 226]

Cau5 :

In [ ]:
def mystery_function(values): # tạo hàm tên mystery nhập vào đối số là 1 list
  result = []  #tạo 1 list rỗng
  for sublist in values:    #tạo vòng lập vs biến sublist chạy trong list
    result.append([sublist[0]])   # thêm vào giá trị có index = 0 vào result
    for i in sublist[1:]:    # tạo vòng lặp với biến i chạy trong các phần tử còn lại của list sublist
      result[-1].insert(0, i)            #Thêm vào cuối list con cuối của list result vị trí thứ 0 với giá trị i
  return result  # Trả về list result

Cau 6 :

In [ ]:
newlist = []
while True:
  key = input('nhập vào một từ bất kỳ để tạo list, nếu nhập Quit sẽ dừng lại q')
  if (key == "Quit") or (key == "QUIT"):
    break
  else:
    newlist.append(key)
print(newlist)

nhập vào một từ bất kỳ để tạo list, nếu nhập Quit sẽ dừng lại Viet
nhập vào một từ bất kỳ để tạo list, nếu nhập Quit sẽ dừng lại dep
nhập vào một từ bất kỳ để tạo list, nếu nhập Quit sẽ dừng lại trai
nhập vào một từ bất kỳ để tạo list, nếu nhập Quit sẽ dừng lại qua
nhập vào một từ bất kỳ để tạo list, nếu nhập Quit sẽ dừng lại di
nhập vào một từ bất kỳ để tạo list, nếu nhập Quit sẽ dừng lại QUIT
['Viet', 'dep', 'trai', 'qua', 'di']

Cau7:

In [ ]:
country_popumes = [['China',1295],['DPR Korea',23],['Hong Kong',7],['Mongolia',3],['Republic of Korea',47],['Taiwan',21]]
total = 0
for i in country_popumes:
  total += i[1]
print('Tổng dân số của các nước Đông á là: ',total)

Tổng dân số của các nước Đông á là:  1396

Cau 8:

In [ ]:
w_rat1 = [7,2,3,6,5,9,4,6,1,9]
w_rat2 = [6,4,6,1,6,8,3,4,5,1]
for i in range(10):
  if (w_rat1[i] > w_rat2[i]):
    print("Rat 1 weighed more than rat 2 on day ",i+1)
  else:
    print("Rat 1 weighed less than rat 2 on day ",i+1)

Rat 1 weighed more than rat 2 on day  1
Rat 1 weighed less than rat 2 on day  2
Rat 1 weighed less than rat 2 on day  3
Rat 1 weighed more than rat 2 on day  4
Rat 1 weighed less than rat 2 on day  5
Rat 1 weighed more than rat 2 on day  6
Rat 1 weighed more than rat 2 on day  7
Rat 1 weighed more than rat 2 on day  8
Rat 1 weighed less than rat 2 on day  9
Rat 1 weighed more than rat 2 on day  10

In [ ]:
if (w_rat1[0] > w_rat2[0]) and (w_rat1[-1] > w_rat2[-1]):
  print("Rat 1 remained heavier than Rat 2")
else:
  print("Rat 2 became heavier than Rat 1")

Rat 1 remained heavier than Rat 2

In [ ]:
if  (w_rat1[0] > w_rat2[0]):
  if (w_rat1[-1] > w_rat2[-1]):
    print("Rat 1 remained heavier than Rat 2")
  else : 
    print("Rat 2 became heavier than Rat 1")
else:
  print("Eroor")

Rat 1 remained heavier than Rat 2

Cau 9 :

In [ ]:
for i in range(33,50):
  print(i)

33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49

Cau 10 :

In [ ]:
for i in range(-10,0):
  print(abs(i), end = " ")

10 9 8 7 6 5 4 3 2 1

Cau 11:

In [ ]:
count = 0
total = 0
for i in range(2,22):
  count += 1
  total += i
trungbinh =  total / count
print(trungbinh)

11.5

Câu 12:

In [ ]:
def remove_neg(num_list):
  newlist = []
  for item in num_list:
    if (item >= 0) :
      newlist.append(item)
  return newlist
remove_neg([4,9,-9,-4,5,1,-4,3,8,-8])

[4, 9, 5, 1, 3, 8]

CAu 13:

In [ ]:
for i in range(1,8):
  print('T'*i)

T
TT
TTT
TTTT
TTTTT
TTTTTT
TTTTTTT

Cau 14:

In [26]:
space = 7
for i in range(1,8):
  for j in range(1,8):
    if (j < space):
      print(" ",end="")
    if (j >= space):
      print("T" ,end="")
  space = space - 1
  print(end="\n")

      T
     TT
    TTT
   TTTT
  TTTTT
 TTTTTT
TTTTTTT

Cau 15

In [28]:
space = 1
while (space < 8):
  print("T"*space)
  space += 1

T
TT
TTT
TTTT
TTTTT
TTTTTT
TTTTTTT

In [50]:
space = 7
text = 1
while (space > 0):
  print(" "*(space-1),end="" )
  print("T"*text ,end="")
  print(end="\n")
  space = space - 1
  text += 1

      T
     TT
    TTT
   TTTT
  TTTTT
 TTTTTT
TTTTTTT

Cau 16:

In [73]:
rat_1_weight = 10
rat_2_weight = 10
print("trọng lượng khi bắt đầu thử nghiệm của rat1 là: {}kg".format(rat_1_weight))
print("trọng lượng khi bắt đầu thử nghiệm của rat2 là: {}kg".format(rat_2_weight))
rat_1_rate = (5/100)
rat_2_rate = (1/100)
w_rat=rat_1_weight
week = 0
while (w_rat < ((rat_1_weight)+(rat_1_weight/100*25))):
  w_rat +=  rat_1_rate
  week += 1
print("\n")
print("Số tuần để rat1 nặng hơn 25% so với ban đầu là: {} tuần, hiện tại rat1 nặng {}kg".format(week,w_rat))
count = 0
while (((rat_1_weight/rat_2_weight)*100) < 110):
  rat_1_weight += rat_1_rate
  rat_2_weight += rat_2_rate
  count += 1
print("\n")
print("Số tuần mà con rat1 nặng hơn rat2 là: {} tuần, hiện tại con rat1 nặng {}kg, con rat2 nặng {}kg".format(count,rat_1_weight,rat_2_weight))

trọng lượng khi bắt đầu thử nghiệm của rat1 là: 10kg
trọng lượng khi bắt đầu thử nghiệm của rat2 là: 10kg


Số tuần để rat1 nặng hơn 25% so với ban đầu là: 50 tuần, hiện tại rat1 nặng 12.500000000000036kg


Số tuần mà con rat1 nặng hơn rat2 là: 26 tuần, hiện tại con rat1 nặng 11.300000000000018kg, con rat2 nặng 10.259999999999994kg